# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem01/SOAP_WS/nbproject/private/
/Sem01/SOAP_WS/build/
/Sem01/SOAP_WS_CLIENT1/nbproject/private/
/Sem01/SOAP_WS_CLIENT1/build/