# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem01/SOAP_WS/nbproject/private/
/Sem01/SOAP_WS/build/
/Sem01/SOAP_WS_CLIENT1/nbproject/private/
/Sem01/SOAP_WS_CLIENT1/build/
/Sem02/Demo01/nbproject/private/
/Sem02/Demo01/build/
/Sem02/WSMate/nbproject/private/
/Sem02/WSMate/build/
/Sem02/WSMateClient/nbproject/private/
/Sem02/WSMateClient/build/
/Sem02/WSMateClient/dist/
/Sem02/WSEureka/nbproject/private/
/Sem02/WSEureka/build/
/Sem03/CambioDivisas/nbproject/private/
/Sem03/CambioDivisas/build/
/Sem03/CambioDivisas/dist/
/Sem03/DemoDivisas/nbproject/private/
/Sem03/DemoDivisas/build/
/Sem03/DivisasWS/nbproject/private/
/Sem03/DivisasWS/build/
/Sem03/DemoDivisas - copia/build/
/Sem03/DemoDivisas - copia/nbproject/private/
/Sem03/DemoDivisas2/build/
/Sem03/DemoDivisas2/nbproject/private/
/Sem03/DemoDivisas2/dist/
/Sem04/WSRest/nbproject/private/
/Sem04/WSRest/dist/
/Sem04/WSRest/build/
/Sem04/ClienteRestWeb/nbproject/private/
/Sem04/ClienteRestWeb/build/